[submodule "udesc-ann"]
	path = udesc-ann
	url = https://github.com/peedrofernandes/udesc-ann.git
[submodule "udesc-aoc"]
	path = udesc-aoc
	url = https://github.com/peedrofernandes/udesc-aoc.git
[submodule "udesc-ban1"]
	path = udesc-ban1
	url = https://github.com/peedrofernandes/udesc-ban1.git
[submodule "udesc-cal"]
	path = udesc-cal
	url = https://github.com/peedrofernandes/udesc-cal.git
