[submodule "udesc-ann"]
	path = udesc-ann
	url = https://github.com/peedrofernandes/udesc-ann.git
[submodule "udesc-aoc"]
	path = udesc-aoc
	url = https://github.com/peedrofernandes/udesc-aoc.git
[submodule "udesc-ban1"]
	path = udesc-ban1
	url = https://github.com/peedrofernandes/udesc-ban1.git
[submodule "udesc-cal"]
	path = udesc-cal
	url = https://github.com/peedrofernandes/udesc-cal.git
[submodule "udesc-com"]
	path = udesc-com
	url = https://github.com/peedrofernandes/udesc-com
[submodule "udesc-eda"]
	path = udesc-eda
	url = https://github.com/peedrofernandes/udesc-eda.git
[submodule "udesc-eda2"]
	path = udesc-eda2
	url = https://github.com/peedrofernandes/udesc-eda2.git
[submodule "udesc-lpg"]
	path = udesc-lpg
	url = https://github.com/peedrofernandes/udesc-lpg.git
[submodule "udesc-poo"]
	path = udesc-poo
	url = https://github.com/peedrofernandes/udesc-poo.git
[submodule "udesc-soft"]
	path = udesc-soft
	url = https://github.com/peedrofernandes/udesc-soft
